.title {
  margin: 1rem;
  
  @media only screen and (min-width: 768px) {
    font-size: 3rem;
    margin: 0
  }

  &-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    max-width: $bp-xl * 1px;
    
    @media only screen and (min-width: 768px) {
      margin: 4rem auto;
      flex-direction: row;
    }
  }
  
  &--primary {
    font-family: $font-roboto-slab;
    color: $color-blue-dark;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;

  }
  &--secondary {
    align-items: flex-start;
    color: $color-blue-primary;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    line-height: 2.4rem;

    @media only screen and (min-width: 768px) {
      align-items: center;
    }

    .title__cushion {
      width: 100%;
      padding-left: 2rem;

      @media only screen and (min-width: 768px) {;
        padding: 3rem 2rem;
      }
    }
  }

  &__prefix {
    font-weight: normal;
    margin-right: .8rem;
    text-transform: uppercase;
  }
}

