@import '../../../scss/variables/variables';
@import '../../../scss/partials/base';

.wrapper {
  margin: 0 auto;
  padding: 2rem;
  max-width: $bp-xl * .1rem;
  
  &--bordered {
    background: $color-white;
    border: 1px solid $color-border-dark;
  }
}