@import '../../../scss/variables/variables';
@import '../../../scss/partials/base';

.radio-button {
  border: 1px solid $color-grey-light-translucid;
  background-color: $color-grey-light-translucid;
  color: $color-grey-secondary;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  justify-content: flex-start;
  margin: 0 auto;
  width: 19rem;
  max-width: 19rem;
  padding: 1.5rem .8rem 1.5rem 1.3rem; 
  position: relative;
  user-select: none;
  
  @media only screen and (min-width: 992px) {
    width: 100%;
  }
  
  &.radio-button--active {
    background-color: $color-grey-light-2;
    border: 1px solid $color-border-active;
    color: $color-blue-active;
  }

  .radio-button__control {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .radio-button__check {
      border-color: $color-green;

      &::after {
        display: block;
      }
    }
  }
  .radio-button__check {
    background-color: $color-white;
    border: 1px solid $color-border-medium;
    border-radius: 50%;
    height: 1.6rem;
    margin-right: 1rem;
    position: relative;
    width: 1.6rem;

    &::after {
      background-color: $color-green;
      border-radius: 50%;
      content: "";
      display: none;
      height: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1rem;
    }
  }
}

.radio-button__label {
  pointer-events: none;
}
