@import '../../../scss/variables/variables';
@import '../../../scss/partials/base';

.header {
  background: $color-white;
  display: flex;
  height: 4.7rem;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: $bp-xl * 1px;
  width: 100%;
}