
/**
 * Small
 *
 * @nuclide Breakpoint small
 * @section Variables > Breakpoints
 */
$bp-sm: 576;
/**
 * Medium
 *
 * @nuclide Breakpoint medium
 * @section Variables > Breakpoints
 */
$bp-md: 768;
/**
 * Large
 *
 * @nuclide Breakpoint large
 * @section Variables > Breakpoints
 */
$bp-lg: 992;
/**
 * Extra large
 *
 * @nuclide Breakpoint extra large
 * @section Variables > Breakpoints
 */
$bp-xl: 1200;
