/** @color Black pure */
$color-black-pure: #000;
/** @color White */
$color-white: #fff;
/** @color Light blue */
$color-blue-light: #4BA7EE;
/** @color Medium blue */
$color-blue-medium: #003970;
/** @color Dark blue */
$color-blue-dark: #001841;
/** @color Grey */
$color-grey: #4E5156;
/** @color Red */
$color-red: #D8171D;
/** @color Orange */
$color-orange: #FFAB48;
/** @color Yellow */
$color-yellow: #FFEF63;